{% extends 'base.html' %}

{% load static %}

{% block content %}
  <article class='article'>
    <section class='post-container'>
    <h2 class='post-title'>{{ post.title }}</h2>
    <div class='post-info'> 
      <div>
        <p class='writer'>{{ post.writer.username }}</p>
        {% if post.writer == user %}
        <div class='btn-container'>
            <a href='{% url "blog:edit" pk=post.id %}' class='edit btn'>수정</a>
            <form action="{% url 'blog:delete' pk=post.id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="삭제" class="delete btn">
            </form>
        </div>
        {% endif %}
      </div>
      <div>
        <p class='views'>{{ post.views }} views 👀</p>
        <p class='date'>{{ post.created_at|date }}</p>
      </div>
    </div>
    <div class='post-wrapper background hide-scroll'>
      <div class='content'>{{ post.content }}</div>
    </div>
    {# 게시글 Tag #}
    <div class='tags'>
      {% for mytag in mytags %}
        <div class='tag-wrapper'>
          <a>{{ mytag.name }}</a>
          {% if mytag.writer == user %}
            <a href='{% url "blog:tag-delete" pk=mytag.pk %}'>X</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    </section>
    {# 댓글 #}
    <section class='comment-container background hide-scroll'>
      <div class='input-container'>
        <img src='{% static "images/user.png" %}' alt='user-image' class='user-img'>
        {# 댓글 작성 #}
        <form action="{% url 'blog:cm-write' pk=post.pk %}" method='post' class='comment-form'>
          {% csrf_token %}
          <input type='input' class='comment-input' placeholder='댓글을 입력하세요. 최대 300자'>
          <label for='comment-submit' class='submit-btn'>
            <img src='{% static "images/icon-send.png" %}' alt='user-image'>
          </label>
          <input type='submit' id='comment-submit' hidden>
        </form>
      </div>
      <div class='comments'>
        댓글이 없습니다.
      </div>
    </section>
  </article>
{% endblock %}

{# hide_aside 변수를 True로 전달합니다 #}
{% block aside %}
  {% with hide_aside=True %}
    {{ block.super }}
  {% endwith %}
{% endblock %}