{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="write-container">
    <form action="{% url 'blog:write' %}" method='post' class='write-form'>
      {% csrf_token %}
      <p>제목</p>
      {{form.title}}
      <p>내용</p>
      {{form.content}}
      <div class='write-btns'>
        <a href='/' class='write-cancle'>취소</a>
        <button type='submit' class='write-submit'>저장</button>
      </div>
    </form>  
  </div>
{% endblock %}

{# aside를 숨기기 위한 변수를 전달 #}
{% block aside %}
  {% with hide_aside=True %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{# footer를 숨기기 위한 변수를 전달 #}
{% block footer %}
  {% with hide_footer=True %}
    {{ block.super }}
  {% endwith %}
{% endblock %}