{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class='user-roll'>
    <h2 class='signin-title'>로그인</h2>
    <form action='{% url "user:signin" %}' method='post' class='signin-form'>
        {% csrf_token %}
        <p>이메일 {{form.username}}</p>
        <p>비밀번호 {{form.password}}</p>
        <div class='pf-edit-btns'>
            <a href='{% url "user:signup" %}'>계정이 없으세요?</a>
            <button type='submit'>로그인하기</button>
        </div>
    </form>
</section>
  
{% endblock %}


{# hide_aside 변수를 True로 전달합니다 #}
{% block aside %}
  {% with hide_aside=True %}
    {{ block.super }}
  {% endwith %}
{% endblock %}