{% load static %}
<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> 지수로그 </title>
    {# ToastUI #}
    <link
    rel="stylesheet"
    href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
    />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    {# reset CSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    {# base.html CSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {# blog CSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_write.css' %}">
    {# user CSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_signin.css' %}">
  </head>

  <body>
    <h1 class="sr-only">게시판형 블로그, 지수로그</h1>
    {# header #}
    <header class='header'>
      <a href='/'>
        <img src='{% static "images/logo.png" %}' alt='blog' class='logo'>
      </a>
      <div class='header-btn'>
        {% if user.is_authenticated %}
          <img src='{% static "images/user.png" %}' alt='user-image' class='profile-img'>
          {# dropdown menu #}
          <div class="dropdown" style="display: none;">
            <a href='{% url "user:profile" %}'>나의 프로필</a>
            <a href='{% url "user:logout" %}'>로그아웃</a>
          </div>
        {% else %}
          <a class='signin' href='{% url "user:signin" %}'>SIGNIN</a>
        {% endif %}
        <a class='lang' href='#'>KR</a>
      </div>
    </header>
 
    {# aside #}
    {# hide_aside를 상속받으면 사라집니다 #}
    {% block aside %}
      {% if not hide_aside %}
        <aside class='aside'>
          <form class='search-form'>
            {% csrf_token %}
            <label for='aside-submit'>
              <img src='{% static "images/icon-search.png" %}' alt='search'>
            </label>
            <input type='input' class='search' placeholder='검색어를 입력하세요.'>
            <input type='submit' id='aside-submit' hidden>
          </form>
          <div class='aside-tags'>
            {% for tag in tags_cnt %}
              <p>{{tag.name}} {{tag.count}}</p>
            {% endfor %}
          </div>
        </aside>
      {% endif %}
    {% endblock %}

    {# main #}
    <main class='main'>
      {% block content %}
      {% endblock %}
    </main>

    {# footer #}
    {# hide_footer를 상속받으면 사라집니다 #}
    {% block footer %}
      {% if not hide_footer %}
        <footer class='footer'>
          <p>© lezsuuu</p>
          <div>
            <a href='https://github.com/LJS0000' target='_blank'>
              <img src='{% static "images/icon-github.png" %}' alt='github' class='link-icon'>
            </a>
            <a href='https://twitter.com/lezsuuu' target='_blank'>
              <img src='{% static "images/icon-twitter.png" %}' alt='github' class='link-icon'>
            </a>
            <a href='https://www.instagram.com/lezsuuu/' target='_blank'>
              <img src='{% static "images/icon-insta.png" %}' alt='github' class='link-icon'>
            </a>
          </div>
        </footer>
      {% endif %}
    {% endblock %}
    <script src='{% static "js/dropdown.js" %}'></script>

  </body>

</html>
